@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: WorkSans, serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100%;
  background-color: #719C93;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*1111111111111111111111111111111111111111111111111*/
.login{
  width: 800px;
  height: 610px;
  background-color: #133e45;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
/*22222222222222222222222222222222222222222*/
.login .light{
  background: linear-gradient(to left, #ffff0073, transparent);;
  clip-path: polygon(0 15%, 32.5% 25.5%, 32.5% 73.5%, 0 85%);
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left:-200px;
  z-index: 1;
}
/*22222222222222222222222222222222222222222*/
.login img{
  width: 270px;
  position: absolute;
  left: 28px;
  top: 143px;
}
/*22222222222222222222222222222222222222222*/
.login .form-background{
  width: 580px;
  background-color: #FEBA33;
  clip-path: polygon(28% 0, 100% 0, 100% 100%, 16% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.login .form-container{
  margin-right: 85px;
}
.login .form-container .form{
  background-color: #fff;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.login .form-container .form .header{
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  box-shadow: 0px 3px 8px 0 #c1b7b7;
}
.login .form-container .form .header .left{
  padding: 0;
  margin: 0;
  color: #ffb74d;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.login .form-container .form .header .right{
  padding: 0;
  margin: 0;
  color: #85a3a5;
  font-size: 11px;
  text-decoration: none;
}
.login .form-container .form .body{
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}
.login .form-container .form .body .input{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #f4f6f5;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  outline: none;
  transition: background-color 0.2s;
}
.login .form-container .form .body .input:focus{
  background-color: #fff;
  transition: 0.5s;
}
.login .form-container .form .body .input::placeholder{
  color: #bbb;
}
.login .form-container .form .body .submit {
  margin-top: 15px;
  padding: 12px;
  border: 0;
  background-color: #1a535c;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
}
.login .form-container .register{
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}
.login .form-container .register p{
  margin: 0;
  color: white;
}
.login .form-container .register a{
  color: #232b4e;
  text-decoration: none;
}
.login .form-container .register a:hover{
  text-decoration: underline;
}

